@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .test {
    border: 1px solid red;
  }
}

.fade-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  /* Ajusta la altura según sea necesario */
  background: linear-gradient(to top, white, transparent);
}